.catalog {
  margin-top: 27px;

  @media (min-width: $tablet-width) {
    margin-top: 59px;
  }

  @media (min-width: $desktop-width) {
    margin-top: 74px;
  }
}

.catalog__title {
  padding: 0 20px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-template-rows: min-content;
    column-gap: 60px;
    row-gap: 140px;
    margin-top: 164px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 80px;
    row-gap: 144px;
  }
}

.catalog__link {
  display: block;
  height: 144px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: flex-end;
    height: 200px;
  }
}

.catalog__subtitle {
  display: block;
  width: 76px;
  margin: 0;
  margin-top: 21px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: $special-darkest-grey;

  @media (min-width: $tablet-width) {
    width: 159px;
    margin-top: 26px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.catalog__item {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  min-height: 209px;
  padding: 0 20px;
  padding-bottom: 24px;
  border-top: 1px solid $special-grey;

  &:last-child {
    border-bottom: 1px solid $special-grey;
  }

  @media (max-width: $mobile-width-only) {
    justify-content: center;
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    border: none;
    padding: 0;
    padding-top: 17px;
    padding-bottom: 40px;

    &:not(:last-child) {
      background-color: $basic-grey;
    }

    &:last-child {
      border: 1px solid $special-grey;
    }
  }
}

.catalog__inner {
  display: flex;
  flex-direction: column;
  width: 140px;

  // &--desc {
  //   @media (max-width: $mobile-width-only) {
  //     margin-left: auto;
  //   }
  // }

  @media (min-width: $tablet-width) {
    align-items: center;
    width: 100%;
    padding: 0 36px;
    margin-bottom: 35px;
  }

  &--img {
    align-items: center;
    justify-content: center;

    @media (min-width: $tablet-width) {
      $img-shift: -81px;
      position: relative;
      top: $img-shift;
      align-items: flex-end;
      height: 200px;
      padding: 0;
      margin: 0;
      margin-bottom: $img-shift;
    }
  }
}

.catalog__button {
  width: 100%;
  font-size: 16px;
  line-height: 16px;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    width: 248px;
  }

  @media (min-width: $desktop-width) {
    width: 168px;
  }
}

.catalog__description {
  width: 100%;
  margin: 0;
  margin-top: 14px;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }
}
