.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 78px;

  @media (min-width: $tablet-width) {
    width: 163px;
    padding: 0;
  }
}

.copyright__text {
  font-family: $second-font;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  text-decoration: none;

  &:active {
    color: transparentize($special-dark-grey, 0.3);
  }
}

.copyright__icon {
  fill: #666666;
}

.copyright__img {
  .copyright__icon {
    width: 27px;
    height: 34px;
  }

  &:hover,
  &:focus {
    .copyright__icon {
      fill: $special-green;
    }
  }

  &:active {
    .copyright__icon {
      fill: transparentize($special-green, 0.3);
    }
  }
}
