.programms {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    padding-top: 81px;
  }
}

.programms__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    margin-top: 3px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.programms__item {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 0 20px;
  min-height: 266px;
  background-color: $basic-grey;

  &:not(:last-child) {
    margin-bottom: 20px;

    @media (min-width: $tablet-width) {
      margin-bottom: 29px;
    }
  }

  @media (min-width: $tablet-width) {
    justify-content: start;
    min-height: 372px;
    padding-left: 52px;
    padding-top: 71px;
  }

  @media (min-width: $desktop-width) {
    flex-grow: 1;
    min-height: 374px;

    &:first-child {
      margin-bottom: 0;
      margin-right: 80px;
    }
  }

  @media (max-width: $mobile-width-only) {
    &::after {
      position: absolute;
      top: 100%;
      left: 50%;
      content: "";
      width: 100%;
      height: 1px;
      margin-top: -58px;
      margin-left: -50%;
      padding: 0 20px;
      background-color: $special-light-grey;
      background-clip: content-box;
    }
  }
}

.programms__title {
  position: relative;
  padding-left: 71px;
  padding-top: 9px;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;

  &::after {
    position: absolute;
    content: "";
    top: 3px;
    right: 100%;
    width: 50px;
    height: 50px;
    margin-right: -52px;
    border-radius: 50%;
    background-color: $basic-green;

    @media (min-width: $tablet-width) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      top: -24px;
      display: block;
      width: 100px;
      height: 100px;
      margin-right: -100px;
    }
  }

  @media (min-width: $tablet-width) {
    padding-left: 0;
    padding-top: 6px;
    margin-bottom: 37px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 162px;
    margin-bottom: 86px;
  }

  &--slim {
    &::before {
      position: absolute;
      top: 0;
      right: 100%;
      z-index: 10;
      content: "";
      margin-right: -59px;
      width: 50px;
      height: 50px;
      background-image: url("../img/icon-cat-slim.svg");
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        top: 10px;
        left: 100%;
        width: 140px;
        height: 192px;
        margin-left: -212px;
      }

      @media (min-width: $desktop-width) {
        left: 0;
        top: -30px;
        width: 70px;
        height: 97px;
        margin-left: 15px;
      }
    }
  }

  &--weight {
    &::before {
      position: absolute;
      content: "";
      right: 100%;
      top: 14px;
      z-index: 10;
      width: 67px;
      height: 28px;
      margin-right: -60px;
      background-image: url("../img/icon-cat-pro.svg");
      background-repeat: no-repeat;

      @media (min-width: $tablet-width) {
        top: 65px;
        left: 100%;
        width: 268px;
        height: 112px;
        margin-left: -277px;
      }

      @media (min-width: $desktop-width) {
        left: 0;
        top: -4px;
        width: 134px;
        height: 56px;
        margin-left: -19px;
      }
    }
  }
}

.programms__description {
  margin: 0;
  margin-top: -12px;
  font-family: $second-font;
  font-size: 14px;
  line-height: 18px;
  color: $special-dark-grey;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    position: relative;
    width: 377px;
    margin-bottom: 51px;
    font-size: 16px;
    line-height: 24px;

    &::after {
      position: absolute;
      content: "";
      bottom: 100%;
      left: 100%;
      width: 200px;
      height: 200px;
      margin-left: 18px;
      margin-bottom: -154px;
      border-radius: 50%;
      background-color: $basic-green;
    }
  }

  @media (min-width: $desktop-width) {
    width: 467px;
    margin-bottom: 27px;

    br {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}

.programms__link {
  position: relative;
  display: block;
  min-width: 87px;
  margin-right: auto;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 16px;
  color: $basic-black;

  &:hover,
  &:focus {
    &::after {
      width: 32px;
      height: 12px;
      background-image: url("../img/icon-right-arrow-verylong.svg");
      background-repeat: no-repeat;
    }
  }

  &:active {
    opacity: 0.3;
  }

  &::after {
    position: absolute;
    content: "";
    left: 100%;
    top: 2px;
    width: 24px;
    height: 12px;
    margin-left: 13px;
    background-image: url("../img/icon-right-arrow-long.svg");
    background-repeat: no-repeat;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;

    &::after {
      top: 9px;
      margin-left: 24px;
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      margin-left: 28px;
    }
  }
}
