.promo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 480px;
  background: url("../img/index-background-mobile@1x.jpg") top center no-repeat, linear-gradient(to bottom, $special-green 0%, $special-green 63.5%, $basic-white 63.5%, $basic-white 100%);
  padding-top: 25px;

  @media (min-resolution: 2dppx) {
    background: url("../img/index-background-mobile@2x.jpg") top center no-repeat, linear-gradient(to bottom, $special-green 0%, $special-green 63.5%, $basic-white 63.5%, $basic-white 100%);
    background-size: 320px auto;
  }

  @media (min-width: $tablet-width) {
    padding-top: 53px;
    background: none;
  }

  @media (min-width: $desktop-width) {
    justify-content: start;
    flex-wrap: wrap;
    height: 550px;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;

  &--btn {
    order: 1;
    width: 100%;
    margin-bottom: 0;
    margin-top: -2px;
    padding: 0 20px;
  }

  @media (min-width: $tablet-width) {
    align-items: stretch;
    justify-content: start;
    width: 100%;
    padding-left: 87px;
    margin-bottom: 50px;

    &--btn {
      padding-left: 81px;
      order: 0;
    }
  }

  @media (min-width: $desktop-width) {
    align-self: start;
    width: auto;
    padding-left: 80px;
    padding-top: 50px;
    margin-bottom: 1px;

    &--btn {
      margin: 0;
    }
  }
}

.promo__title {
  color: $basic-white;
  text-align: center;
  min-width: 249px;
  max-width: 410px;
  padding: 0 20px;
  margin-bottom: 25px;
  margin-top: 2px;

  @media (min-width: $tablet-width) {
    width: 414px;
    max-width: none;
    padding: 0;
    margin-bottom: 0;
    font-size: 60px;
    line-height: 60px;
    color: inherit;
    text-align: left;
  }
}

.promo__description {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  color: $basic-white;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    margin-top: 41px;
    font-size: 20px;
    line-height: 20px;
    color: inherit;
    text-align: left;
  }

  @media (min-width: $tablet-width) {
    width: 283px;
  }
}

.promo__img {
  order: 0;

  @media (min-width: $tablet-width) {
    $promo-shift: -133px;

    position: relative;
    top: $promo-shift;
    margin-bottom: $promo-shift;
    order: 1;
  }

  @media (min-width: $desktop-width) {
    top: -30px;
    left: -176px;
    flex-grow: 1;
  }
}

.promo__button {
  width: 100%;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    z-index: 2;
    width: 244px;
    height: 54px;
    margin-right: auto;
  }
}
