.slider__list {
  list-style: none;
  display: grid;
  padding: 0;
  text-align: center;
}

.slider__item {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  display: none;

  &--active {
    display: block;
  }

  @media (min-width: $tablet-width) {
    text-align: right;
  }
}

.slider__control {
  display: flex;
  justify-content: center;

  &--check {
    padding-top: 15px;

    @media (min-width: $tablet-width) {
      display: none;
    }
  }

  &--range {
    display: flex;
    padding-top: 10px;

    @media (max-width: $mobile-width-only) {
      display: none;
    }

    @media (min-width: $desktop-width) {
      padding-top: 28px;
      padding-left: 39px;
    }
  }
}

.slider__check {
  display: none;
}

.slider__label {
  &--check {
    position: relative;
    display: block;
    margin: 0 20px;
    margin-top: 1px;
    width: 79px;
    height: 14px;
    cursor: pointer;

    &::before,
    &::after {
      position: absolute;
      display: block;
      content: "";
    }

    &::before {
      width: 84px;
      height: 16px;
      border: 1px solid $special-grey-mid;
      border-radius: 6px;
      background-color: $basic-white;
    }

    &::after {
      top: 5px;
      left: 6px;
      width: 35px;
      height: 6px;
      border-radius: 6px;
      background-color: $basic-green;
      transition-timing-function: ease-in;
      transition-duration: 200ms;
    }
  }

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
  }
}

.slider__check:checked ~ .slider__label::after {
  transform: translateX(37px);
}

// .slider__range::-moz-range-track {
//   &::before,
//     &::after {
//       position: absolute;
//       top: -10px;
//       padding-bottom: 4px;
//       font-family: "Oswald", "Arial", sans-serif;
//       font-size: 20px;
//       text-transform: uppercase;
//       border-bottom: dotted 1px $special-grey-mid-dark;
//     }

//     &::before {
//       right: 100%;
//       content: "было";
//       margin-right: 24px;
//     }

//     &::after {
//       left: 100%;
//       content: "стало";
//       margin-left: 21px;
//     }
// }

// .slider__range::-moz-range-track {
//   appearance: none;
//   position: relative;
//   width: 428px;
//   height: 6px;
//   margin: 0 22px;
//   background-color: $special-grey-mid-light;
//   border-radius: 6px;
//   outline: none;

  // &::before,
  // &::after {
  //   position: absolute;
  //   top: -10px;
  //   padding-bottom: 4px;
  //   font-family: "Oswald", "Arial", sans-serif;
  //   font-size: 20px;
  //   text-transform: uppercase;
  //   border-bottom: dotted 1px $special-grey-mid-dark;
  // }

  // &::before {
  //   right: 100%;
  //   content: "было";
  //   margin-right: 24px;
  // }

  // &::after {
  //   left: 100%;
  //   content: "стало";
  //   margin-left: 21px;
  // }

  // &:hover,
  // &:focus {
  //   &::after,
  //   &::before {
  //     border-bottom: solid 1px $special-grey-mid-dark;
  //   }
  // }

  // &:active {
  //   &::after,
  //   &::before {
  //     border-bottom: none;
  //   }
  // }
// }

.slider__range {
  appearance: none;
  position: relative;
  width: 428px;
  height: 6px;
  margin: 0 22px;
  background-color: $special-grey-mid-light;
  border-radius: 6px;
  outline: none;

  &::-moz-range-track {
    appearance: none;
    position: relative;
    width: 428px;
    height: 6px;
    margin: 0 22px;
    background-color: $special-grey-mid-light;
    border-radius: 6px;
    outline: none;
  }

  &:hover,
  &:focus {
    &~ .slider__text--after,
    &~ .slider__text--before {
      padding-bottom: 4px;
      border-bottom: solid 1px $special-grey-mid-dark;
    }
  }

  &:active {
    &~ .slider__text--after,
    &~ .slider__text--before {
      padding-bottom: 5px;
      border-bottom: none;
    }
  }

  &::-webkit-slider-thumb {
    appearance: none;
    position: relative;
    width: 34px;
    height: 34px;
    background-color: $basic-green;
    border: 1px solid $special-grey-mid;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), inset 0 0 0 12px $basic-white;
    cursor: pointer;

    &:hover,
    &:focus {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19), inset 0 0 0 12px $basic-white;
    }

    &:active {
      border: 1px solid $basic-green;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), inset 0 0 0 12px $basic-white;
    }
  }

  &::-moz-range-thumb {
    appearance: none;
    position: relative;
    width: 34px;
    height: 34px;
    background-color: $basic-green;
    border: 1px solid $special-grey-mid;
    border-radius: 50%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.16), inset 0 0 0 12px $basic-white;
    cursor: pointer;

    &:hover,
    &:focus {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.19), inset 0 0 0 12px $basic-white;
    }

    &:active {
      border: 1px solid $basic-green;
      box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2), inset 0 0 0 12px $basic-white;
    }
  }
}

.slider__text {
  display: block;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    position: relative;
    top: -6px;
    padding-bottom: 4px;
    font-size: 20px;
    border-bottom: dotted 1px $special-grey-mid-dark;

    &--before {
      order: -1;
    }

    &--after {
      order: 1;
    }
  }
}
