.social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  border-top: 1px solid $special-light-grey;
  border-bottom: 1px solid $special-light-grey;

  @media (min-width: $tablet-width) {
    height: auto;
    margin-left: 23px;
    border: 0;
  }
}

.social__list {
  display: flex;
  justify-content: start;
  align-items: center;
  flex-wrap: wrap;
  min-width: 130px;
  height: 33px;
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 6px;
  }
}

.social__item {
  display: flex;
  justify-content: center;
  align-items: center;

  &:not(:last-child) {
    margin-right: 36px;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      padding-top: 3px;
      margin-right: 29px;
    }
  }
}

.social__img {
  fill: #666666;
}

.social__link {
  outline: none;

  &:hover,
  &:focus {
    .social__img {
      fill: $special-green;
    }
  }

  &:active {
    .social__img {
      fill: transparentize($special-green, 0.3);
    }
  }

  &--vkontakte {
    padding-bottom: 1px;

    @media (min-width: $tablet-width) {
      .social__img {
        width: 28.89px;
        height: 17px;
      }
    }
  }

  &--instagram {
    @media (min-width: $tablet-width) {
      .social__img {
        width: 23px;
        height: 23px;
      }
    }
  }

  &--facebook {
    @media (min-width: $tablet-width) {
      .social__img {
        width: 12.83px;
        height: 26.97px;
      }
    }
  }
}
