.works {
  padding: 0 20px;
  padding-top: 29px;
  padding-bottom: 22px;

  @media (max-width: $mobile-width-only) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    padding-top: 46px;
    padding-bottom: 43px;
    border-bottom: 1px solid $special-lightest-grey;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    padding-top: 42px;
    border-bottom: 0;
  }
}

.works__list {
  padding: 0;
  list-style: none;
  counter-reset: section;

  @media (max-width: $mobile-width-only) {
    margin: 0 auto;
    margin-top: 40px;
  }

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-template-rows: 227px 227px;
    column-gap: 60px;
    row-gap: 90px;
    margin-top: 72px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    grid-template-rows: 227px;
    gap: 80px;
  }
}

.works__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: -1px;

  @media (min-width: $tablet-width) {
    position: relative;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    margin-bottom: 0;

    &::after {
      position: absolute;
      counter-increment: section;
      content: counters(section, ".") " ";
      bottom: 100%;
      left: 115px;
      z-index: -1;
      margin-bottom: -260px;
      font-size: 280px;
      color: $basic-grey;
    }
  }
}

.works__bg {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  background-color: $basic-green;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--nutrient {
    background-image: url("../img/advantage-leaf@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-leaf@2x.png");
      background-size: 50px auto;
    }
  }

  &--cooking {
    background-image: url("../img/advantage-powder@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-powder@2x.png");
      background-size: 50px auto;
    }
  }

  &--use {
    background-image: url("../img/advantage-dining@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-dining@2x.png");
      background-size: 50px auto;
    }
  }

  &--changes {
    background-image: url("../img/advantage-clock@1x.png");

    @media (min-resolution: 2dppx) {
      background-image: url("../img/advantage-clock@2x.png");
      background-size: 50px auto;
    }
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }
}

.works__description {
  flex-grow: 1;
  margin: 0;
  margin-left: 20px;
  font-family: $second-font;
  color: $special-dark-grey;
  font-size: 14px;
  line-height: 18px;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 245px;
    margin-left: 0;
    font-size: 16px;
    line-height: 24px;
  }
}
