.catalog {
  margin-top: 29px;

  @media (min-width: $tablet-width) {
    margin-top: 65px;
  }
}

.catalog__title {
  padding: 0 20px;
  padding-bottom: 41px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.catalog__list {
  list-style: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-template-rows: min-content;
    gap: 60px;
    margin-top: 83px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 245px 245px 245px 245px;
    grid-template-rows: min-content;
    column-gap: 80px;
    row-gap: 60px;
    margin-top: 83px;
  }
}

.catalog__subtitle {
  margin: 0;
  width: 76px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  color: $special-darkest-grey;
}

.catalog__item {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  min-height: 208px;
  padding: 0 20px;
  padding-top: 19px;
  padding-bottom: 25px;
  border-top: 1px solid $special-grey;

  &:last-child {
    border-bottom: 1px solid $special-grey;
  }
}

.catalog__inner {
  display: flex;
  flex-direction: column;
  width: 140px;

  &--img {
    align-items: center;
    justify-content: center;
  }
}

.catalog__button {
  text-decoration: none;
}
