.catalog {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    margin-top: 32px;
  }
}

.catalog__title {
  padding: 0 20px;
  padding-bottom: 40px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.catalog__list {
  margin: 0;
  padding: 0;
  list-style: none;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-template-rows: min-content;
    gap: 60px;
    margin-top: 83px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    column-gap: 80px;
    row-gap: 60px;
  }
}

.catalog__link {
  display: block;
  height: 144px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: flex-end;
    height: 200px;
    margin-top: auto;
  }
}

.catalog__subtitle {
  display: block;
  width: 76px;
  margin: 0;
  margin-top: 21px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  text-decoration: none;
  text-transform: uppercase;
  color: $special-darkest-grey;

  @media (min-width: $tablet-width) {
    width: 120px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.catalog__item {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  height: 209px;
  padding: 0 20px;
  padding-bottom: 25px;
  border-top: 1px solid $special-grey;

  &:last-child {
    border-bottom: 1px solid $special-grey;
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: center;
    height: auto;
    border: none;
  }
}

.catalog__inner {
  display: flex;
  flex-direction: column;
  width: 140px;

  &--img {
    align-items: center;
    justify-content: center;

    @media (min-width: $tablet-width) {
      align-items: flex-end;
      height: 200px;
    }
  }

  @media (min-width: $tablet-width) {
    align-items: center;
    width: 100%;
  }
}

.catalog__button {
  font-size: 16px;
  line-height: 0px;
  text-decoration: none;
}

.catalog__description {
  width: 100%;
  margin: 0;
  margin-top: 13px;
}
