.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  min-height: 78px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.copyright__text {
  font-family: $second-font;
  font-size: 16px;
  line-height: 18px;
  color: $special-dark-grey;
  text-decoration: none;
}
