.example {
  padding-top: 27px;
  background-color: $special-grey-adv;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $basic-white 50%, $special-grey-adv 50%);
  }

  @media (min-width: $desktop-width) {
    background: linear-gradient(to bottom, $basic-white 0%, $basic-white 26%, $special-grey-adv 26%, $special-grey-adv 100%);
  }
}

.example__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: $desktop-width) {
    flex-direction: row;
  }
}

.example__wrapper {
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  @media (min-width: $desktop-width) {
    width: 570px;
  }
}

.example__title {
  margin-bottom: 33px;
}

.example__text {
  width: 279px;
  margin: 0;
  font-family: $second-font;
  font-size: 14px;
  line-height: 18px;

  &--cost {
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    width: auto;
    font-size: 16px;
    line-height: 24px;

    &--cost {
      width: 174px;
      margin-left: auto;
      font-size: 20px;
      line-height: 20px;
      text-align: right;
    }
  }

  @media (min-width: $desktop-width) {
    &--cost {
      width: auto;
      margin-left: 0;
      margin-right: auto;
      text-align: inherit;
    }
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0;

  @media (min-width: $tablet-width) {
    width: 366px;
  }
}

.example__inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 56px;
  margin-bottom: 34px;
  margin-top: 25px;
  border: 1px solid $special-grey-mid;
  border-radius: 3px;

  @media (min-width: $tablet-width) {
    width: 162px;
    height: 77px;
  }
}

.example__description {
  margin: 0;
  font-size: 24px;
  line-height: 24px;

  @media (min-width: $tablet-width) {
    font-size: 30px;
    line-height: 37px;
  }
}

.example__item {
  position: absolute;
  bottom: -15px;
  width: 87px;
  font-family: $second-font;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: $special-grey-adv;

  &--weight {
    width: 77px;
  }

  @media (min-width: $tablet-width) {
    bottom: -5px;
    width: 137px;
    font-size: 14px;
    line-height: 14px;
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    background-color: $special-grey-adv;
  }
}

.example__slider {
  @media (min-width: $desktop-width) {
    width: 570px;
  }
}
