.example {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-top: 27px;
  background-color: $special-grey-adv;
}

.example__wrapper {
  margin: 0 auto;
}
.example__title {
  margin-bottom: 33px;
}

.example__text {
  width: 279px;
  margin: 0;
  font-family: $second-font;
  font-size: 14px;
  line-height: 18px;

  &--cost {
    font-family: inherit;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    text-align: center;
  }
}

.example__list {
  display: flex;
  justify-content: space-between;
  margin: 0;
}

.example__inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 124px;
  height: 56px;
  margin-bottom: 34px;
  margin-top: 25px;
  border: 1px solid $special-grey-mid;
  border-radius: 3px;
}

.example__description {
  margin: 0;
  font-size: 24px;
  line-height: 24px;
}

.example__item {
  position: absolute;
  bottom: -15px;
  width: 87px;
  font-family: $second-font;
  font-size: 12px;
  line-height: 12px;
  text-align: center;
  background-color: $special-grey-adv;
}
