.form {
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.form__block {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 26px;

  &:nth-child(2) {
    padding-top: 20px;
    padding-bottom: 7px;
    border-bottom: 1px solid $special-light-grey;
    border-top: 1px solid $special-light-grey;
  }

  &--comment {
    padding: 0 20px;
  }
}

.form__name {
  padding: 0 20px;
  display: flex;
  align-items: center;
  margin-bottom: 13px;
}

.form__description {
  display: block;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
  margin-right: 9px;
}

.form__input {
  flex-grow: 1;
  height: 45px;
  border: 1px solid #E7E7E7;
  padding-left: 14px;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $special-dark-grey;
  font-family: inherit;

  &--comment {
    padding-top: 13px;
    width: 280px;
    height: 150px;
  }
}

.form__title {
  position: relative;
  padding: 0 20px;
  font-size: 24px;
  line-height: 24px;
  margin-bottom: 34px;

  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 100%;
    height: 2px;
    background-color: $basic-green;
  }
  &--comment {
    padding: 0;
  }

  &--contakt::after {
    width: 99px;
    margin-top: -10px;
    margin-left: -99px;
  }

  &--comment::after {
    width: 158px;
    margin-left: 22px;
  }

  &--add::after {
    width: 136px;
    margin-left: 4px;
  }
}

.form__list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__inner {
  padding: 0 20px;
}

.form__text {
  margin: 0;
  margin-top: 21px;
  text-align: center;
}
