.gift {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
  height: 289px;
  margin: 0 20px;
  margin-top: 39px;
  margin-bottom: 35px;
  background-color: $basic-green;
  background-image: url("../img/gift-photo-mobile@1x.jpg");
  background-repeat: no-repeat;

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.gift__text {
  position: relative;
  width: 161px;
  margin: 0;
  margin-top: 144px;
  font-family: $second-font;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: $basic-white;

  &::after {
    position: absolute;
    bottom: 122px;
    left: 50%;
    content: "";
    width: 77px;
    height: 60px;
    margin-left: -28px;
    background-image: url("../img/icon-gift.svg");
    background-repeat: no-repeat;
  }
}
