*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    width: 768px;
    padding: 0 30px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0)
}

.title {
  margin: 0;
  font-size: 36px;
  line-height: 40px;
  font-style: normal;
  font-weight: normal;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $basic-green;
  min-width: 280px;
  min-height: 40px;
  border: none;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: $basic-white;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 0px;
  }
}
