.location {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 28px;

  &--index {
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.location__inner {
  display: flex;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    justify-content: space-around;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 350px;
    left: -330px;
    z-index: 100;
    align-items: center;
    width: 570px;
    height: 201px;
    margin-top: -201px;
    background-color: $basic-white;
  }
}

.location__text {
  margin: 0;
  margin-bottom: 22px;
  margin-right: 20px;
  width: 140px;
  font-family: $second-font;
  font-size: 14px;
  line-height: 20px;
  color: $special-dark-grey;

  &--invite {
    margin-left: 20px;
    margin-right: 0;
    font-family: inherit;
    font-size: 16px;
    line-height: 18px;
    color: inherit;
    text-transform: uppercase;
  }

  @media (min-width: $tablet-width) {
    width: 171px;
    margin-right: 0;
    margin-left: 0;
    font-size: 16px;
    line-height: 20px;
    text-align: right;

    &--invite {
      font-size: 20px;
      line-height: 21px;
      text-align: left;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.location__map {
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 396px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}
