.location {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &--index {
    background-color: $basic-white;
  }

  @media (min-width: $desktop-width) {
    padding-top: 0;
  }
}

.location__inner {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  margin-top: 28px;
  padding-bottom: 26px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 0 72px;
    margin-top: 64px;
    margin-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    position: relative;
    top: 295px;
    left: -325px;
    z-index: 50;
    align-items: center;
    width: 570px;
    height: 201px;
    margin-top: -201px;
    margin-bottom: 0;
    padding-top: 5px;
    background-color: $basic-white;
  }
}

.location__text {
  margin: 0;
  width: 140px;
  color: $special-dark-grey;

  &--invite {
    font-family: inherit;
    font-size: 16px;
    line-height: 20px;
    color: inherit;
    text-transform: uppercase;
  }

  &--address {
    font-family: $second-font;
    font-size: 14px;
    line-height: 20px;

    @media (max-width: $mobile-width-only) {
      br {
        display: none;
      }
    }
  }

  @media (min-width: $tablet-width) {
    width: 171px;

    &--invite {
      font-size: 20px;
      line-height: 25px;
      text-align: left;
      margin-top: 2px;
    }

    &--address {
      font-size: 16px;
      line-height: 20px;
      text-align: right;
    }
  }

  @media (min-width: $desktop-width) {
    margin: 0;

    &--invite {
      margin-left: 2px;
    }

    &--address {
      text-align: left;
    }
  }
}

.location__map {
  width: 100%;
  height: 362px;

  @media (min-width: $tablet-width) {
    height: 396px;
  }

  @media (min-width: $desktop-width) {
    height: 400px;
  }
}
