.page-footer {
  background-color: $basic-grey;

  @media (min-width: $tablet-width) {
    padding-bottom: 32px;
  }
}

.page-footer__inner {
  padding: 0 20px;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    padding-top: 37px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  @media (min-width: $desktop-width) {
    padding: 0 40px;
    padding-top: 37px;
  }
}
