.page-footer {
  background-color: $basic-grey;
}

.page-footer__inner {
  padding: 0 20px;
  padding-top: 40px;

  @media (min-width: $tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
