.program-select {
  padding-top: 27px;
}

.program-select__title {
  padding: 0 20px;
}

.program-select__text {
  width: 226px;
  margin: 0;
  margin-top: 37px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
}

.program-select__form {
  margin-top: 39px;
}
