.properties__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  &--add {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    padding: 0px 1px;
    padding-bottom: 7px;
    border-bottom: 1px solid $special-grey-mid;

    &:not(:first-child) {
      padding-top: 8px;
    }
  }
}

.properties__description {
  margin: 0;
}

.properties__item,
.properties__description {
  font-family: $second-font;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;

  &--add {
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;
  }
}
