.properties__wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;

  &--add {
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    padding: 0px 1px;
    padding-bottom: 7px;

    &:not(:first-child) {
      padding-top: 8px;
    }

    &--add {
      padding: 0;
      padding-top: 3px;
      width: 287px;
    }
  }
}

.properties__description {
  margin: 0;
}

.properties__item,
.properties__description {
  font-family: $second-font;
  font-size: 12px;
  line-height: 16px;
  color: $special-dark-grey;

  &--add {
    font-size: 14px;
    line-height: 14px;
  }

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 16px;

    &--add {
      min-width: 50px;
      text-align: right;
    }
  }
}

.properties__item {
  @media (min-width: $tablet-width) {
    &--add {
      flex-grow: 1;
      margin-right: 42px;
    }
  }
}
