.social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  border-top: 1px solid $special-light-grey;
  border-bottom: 1px solid $special-light-grey;

  @media (min-width: $tablet-width) {
    border: 0;
  }
}

.social__list {
  display: flex;
  justify-content: space-between;
  width: 130px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__link {
  display: block;

  &:hover,
  &:focus {
    path {
      fill: $special-green;
    }
  }

  &:active {
    path {
      fill: transparentize($special-green, 0.3);
    }
  }

  &--vkontakte {
    width: 23px;
    height: 16px;

    @media (min-width: $tablet-width) {
      width: 30px;
      height: 22px;
    }
  }

  &--instagramm {
    width: 16px;
    height: 16px;

    @media (min-width: $tablet-width) {
      width: 23px;
      height: 23px;
    }
  }

  &--facebook {
    width: 22px;
    height: 22px;

    @media (min-width: $tablet-width) {
      width: 28px;
      height: 33px;
    }
  }
}
