.social {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 63px;
  border-top: 1px solid $special-light-grey;
  border-bottom: 1px solid $special-light-grey;

  @media (min-width: $tablet-width) {
    height: auto;
    margin-left: 23px;
    border: 0;
  }
}

.social__list {
  display: flex;
  justify-content: start;
  width: 130px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.social__item {
  display: flex;
  justify-content: center;

  &:nth-child(2) {
    margin-left: 34px;
    margin-right: 41px;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      padding-top: 3px;
    }

    &:nth-child(2) {
      margin-left: 29px;
      margin-right: 29px;
    }
  }
}

.social__link {
  display: block;

  &:hover,
  &:focus {
    path {
      fill: $special-green;
    }
  }

  &:active {
    path {
      fill: transparentize($special-green, 0.3);
    }
  }

  &--vkontakte {
    @media (min-width: $tablet-width) {
      svg {
        width: 28.89px;
        height: 17px;
      }
    }
  }

  &--instagram {
    @media (min-width: $tablet-width) {
      svg {
        width: 23px;
        height: 23px;
      }
    }
  }

  &--facebook {
    @media (min-width: $tablet-width) {
      svg {
        width: 12.83px;
        height: 26.97px;
      }
    }
  }
}
