.works {
  padding: 0 20px;
  padding-top: 29px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
    padding-top: 46px;
  }
}

.works__list {
  list-style: none;
  margin: 0;
  margin-top: 40px;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 324px 324px;
    grid-template-rows: 227px 227px;
    column-gap: 60px;
    row-gap: 90px;
    margin-top: 72px;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 245px 245px 245px 245px;
    grid-template-rows: 280px;
    gap: 80px;
  }
}

.works__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: -1px;

  @media (min-width: $tablet-width) {
    position: relative;
    flex-direction: column;
    justify-content: start;
    align-items: stretch;
    margin-bottom: 0;

    &::after {
      position: absolute;
      bottom: 100%;
      z-index: -1;
      margin-bottom: -308px;
      font-size: 280px;
      color: $basic-grey;
    }

    &--one {
      &::after {
        content: "1";
        left: 118px;
      }
    }

    &--two {
      &::after {
        content: "2";
        left: 110px;
      }
    }

    &--three {
      &::after {
        content: "3";
        left: 113px;
      }
    }

    &--four {
      &::after {
        content: "4";
        left: 113px;
      }
    }
  }
}

.works__bg {
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  background-color: $basic-green;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  &--nutrient {
    background-image: url("../img/advantage-leaf@1x.png");
  }

  &--cooking {
    background-image: url("../img/advantage-powder@1x.png");
  }

  &--use {
    background-image: url("../img/advantage-dining@1x.png");
  }

  &--changes {
    background-image: url("../img/advantage-clock@1x.png");
  }

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
    margin-bottom: 31px;
  }
}

.works__description {
  margin: 0;
  margin-left: 20px;
  font-family: $second-font;
  color: $special-dark-grey;
  font-size: 14px;
  line-height: 18px;

  @media (max-width: $mobile-width-only) {
    br {
      display: none;
    }
  }

  @media (min-width: $tablet-width) {
    width: 245px;
    margin-left: 0;
    font-size: 16px;
    line-height: 24px;
  }
}
